{% extends 'home.html' %}

{% block body %}

<div style="text-align: center;padding:10vh;">
    <img src="../../static/images/desserts/desserts.jpg" alt="" style="width: 80%;border-radius: 1vw;">
</div>

<div>
    <h1 style="text-align: center;font-size: 5vw;font-family: 'Pacifico';text-decoration: underline;">Dessert-Items</h1>
    <div class="contents">
        <a href="{% url 'desserts:cakes' %}">Cakes</a>
        <a href="{% url 'desserts:chocolate' %}">Chocolate</a>
        <a href="{% url 'desserts:icecream' %}">Ice Cream</a>
        <a href="{% url 'desserts:fruits' %}">Fruits</a>
        <a href="{% url 'desserts:nuts' %}">Nuts</a>
        <a href="{% url 'desserts:cookies' %}">Cookies</a>
    </div>
</div><br><br>

{% endblock %}

{% block trending %}
{% endblock %}