{% extends 'home.html' %}

{% block body %}
<div style="text-align: center;padding:10vh;">
    <img src="../../static/images/veg/veg.jpg" alt="" style="width: 80%;border-radius: 1vw;">
</div>

<div>
    <h1 style="text-align: center;font-size: 5vw;font-family: 'Pacifico';text-decoration: underline;">Veg-Items</h1>
    <div class="contents">
        <a href="{% url 'veg:soups' %}">Soups</a>
        <a href="{% url 'veg:curries' %}">Curries</a>
        <a href="{% url 'veg:vegbiryani' %}">Veg Biryani</a>
        <a href="{% url 'veg:fastfood' %}">Fast food</a>
        <a href="{% url 'veg:starters' %}">Starters</a>
        <a href="{% url 'veg:stirfry' %}">Stir Fry</a>
        <a href="{% url 'veg:quickandeasy' %}">Quick & Easy</a>
    </div>
</div><br><br>


{% endblock %}

{% block trending %}
{% endblock %}