{% extends 'home.html' %}

{% block trending %}
{% endblock %}

{% block body %}

{% load static %}
<div style="position: relative; text-align: center; width: 100%; height: 120vh; overflow: hidden;">
    <!-- Blurred Background Image -->
    <div style="
        position: absolute;
        top: 25vh;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../static/images/drinks/milkshakes.webp);
        background-size: cover;
        background-position: center;
        filter: blur(10px);
        z-index: -1;">
    </div>

    <!-- Heading (Above Background) -->
    <h1 style="
        font-size: 5vw;
        font-family: 'Pacifico', cursive;
        text-decoration: underline;
        color: #FF7043;
        position: relative;
        z-index: 1;
        top: -5vh;">
        MilkShakes
    </h1>

    <!-- Centered Clear Image -->
    <div style="
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;">
        <img src="{% static 'images/drinks/milkshakes.webp' %}" alt="" 
            style="width: 100%; border-radius: 1vw;">
    </div>
</div>
<div class="contents">
    {% for i in m1 %}
    <a href="{% url 'drinks:showMilkshakes' i.id %}">{{ i.name }}</a>
    {% endfor %}
</div>

{% endblock %}